@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "utils/cursor";
@import "utils/font-sizes";
@import "utils/form";
@import "utils/tables";
@import "utils/custom-scrollbar";

@import "webkit-autofill";

html {
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.form-control-max-width {
  max-width: 250px !important;
}

.form-label,
.ant-form-item-label>label {
  color: #6c757d !important; // giống .text-muted
}

.anticon {
  vertical-align: 1px !important;
}
